.legend {
	margin: 20px 0;
}
.legend h4 {
	text-transform: uppercase;
	margin-bottom: 0;
}
.legend .color-bar {
	display: flex
}
.legend .swatch {
	opacity: 0.8;
}
.legend .legend-label {
	font-size: 0.8rem;
	margin-top: 0.8rem;
	text-align: right;
	transform: translateX(15px);
}
.legend .swatch:first-of-type .legend-label {
	text-align: left;
	transform: translateX(9px);
}
.legend .swatch:last-of-type .legend-label {
	/*display: none;*/
}